body{
	margin:0px;
	padding:0px;
	background:#efefef !important;
	font-family:'Lato',arial,helvetica,sans-serif;
}

.panel{
	margin-top:90px;
}

.boxes{
	background:#fff;
	padding:10px;
	overflow:hidden;
}

.border-px{
	border:1px solid #c0c0c0 !important;
}

@media (max-width:361px){
	.panel{
		margin-top:130px;
	}
}