body{
	margin:0px;
	padding:0px;
	background:#efefef !important;
}

/* menu navigasi kustomisasi */
.menu a{
	color:#fff !important;
	font-family:'Lato',arial,helvetica,sans-serif;
	font-weight:400;
	text-transform:uppercase;
}

.trans{
	background:transparent;
}

.hd-comp{
	border:none;
}

.bg-head{
	background:url('../img/bg.png');
	width:100%;
	overflow:hidden;
	background-attachment:fixed;
	background-size:cover;
}

.btn-jb{
	width:200px;
	background:#0393dd;
	color:#fff;
	padding:20px;
	font-family:'Open Sans',arial,helvetica,sans-serif;
	font-weight:600;
	text-transform:uppercase;
	font-size:0.4em;
	border-radius:0px;
	transition:all 0.3s ease-out;
}

.btn-jb:hover{
	width:200px;
	background:#2980b9;
	color:#fff;
	padding:20px;
	font-family:'Open Sans',arial,helvetica,sans-serif;
	font-weight:600;
	text-transform:uppercase;
	font-size:0.4em;
	border-radius:0px;
}

#red{
	background:#d50000;
	color:#fff;
	border-color:#d50000;
	font-family:'Open Sans',arial,helvetica,sans-serif;
	font-weight:600;
	text-transform:uppercase;
	transition:all 0.3s ease-out;
}

#red1{
	background:#a70101;
	color:#fff;
	border-color:#a70101;
	font-family:'Open Sans',arial,helvetica,sans-serif;
	font-weight:600;
	text-transform:uppercase;
	transition:all 0.3s ease-out;
}

#red:hover{
	background:#a70101;
	color:#fff;
	border-color:#a70101;
}

#red1:hover{
	background:#d50000;
	color:#fff;
	border-color:#d50000;
}

.btn-pos{
	margin:10px;
}

.jb-color{
	text-align:center;
	color:#fff;
}

.jb-color > h1
{
	font-size:2.5em;
	font-family:'Roboto Slab',arial,helvetica,sans-serif;
	margin-top:30px;
}

.jb-color > p
{
	font-size:30px;
	font-family:'Lato',arial,helvetica,sans-serif;
	font-weight:200;
	padding-top:20px;
}

/* header kedua  */

.mn-clr{
	background:#fff !important;
	margin-bottom:0px !important;
}

.sc-menu{
	width:100%;
	background:#fff;
	/* height:50px; */ 
	overflow:hidden;
	box-shadow:1px 1px 4px #c0c0c0;
}

.menu-sc{
	color:#676767;
	font-family:'Lato',arial,helvetica,sans-serif;
	font-weight:500;
	font-size:0.8em;
	text-transform:uppercase;
}

.menu-scc a:hover{
	transition:all 0.3s ease-out;
	background:#d20000 !important;
	color:#fff !important;
}

.cara{
	width:100%;
	overflow:hidden;
	padding-top:40px;
	padding-bottom:40px;
	border-bottom:1px solid #c0c0c0;
}

.cent{
	text-align:center;
}

.pdt{
	padding-top:20px;
}

/* Custom Masonry */
/* NEWEST TERBARU */


.total{
	width:100%;
	min-height:80px;
	background:#ededed;
}

.head-2{
	margin-bottom: 50px;
	text-transform: uppercase;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
	font-size: 35px !important;
	font-weight: 400 !important;
	line-height: 20px;
	text-align:center;
}

.head-3{
	text-transform: uppercase;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
	font-size: 30px !important;
	font-weight: 400 !important;
	text-align:center;
}

.partner{
	background:#ededed;
	padding-bottom:60px;
}

.bg-ft{
	background-color:#1C1F24 !important;
}

.kontak{
	background-color:#1C1F24;
	width:100%;
	overflow:hidden;
}

.pd-at{
	padding-top:40px;
	color:#fff;
}

.layer{
	z-index:99999;
}

.post-copy {
	overflow: hidden;
	clear: both;
	width: 268px;
	margin:5px;
	background:#fff;
	border:1px solid #c0c0c0;
}

#post-area{
	width: 100%;
	background: #FFF;
	margin-right: 10px;
	margin-top: -15px;
}

.graf-head{
	width:100%;
	padding:10px;
	overflow:hidden;
}

.graf-image{
	width:100%;
	margin:auto;
}

.head-jd{
	font-family: Montserrat,"open sans",Helvetica,Arial,sans-serif !important;
	font-size: 18px !important;
	font-weight: 450 !important;
	line-height: 20px;
	font-style: regular;
}

.head-kal{
	font-family: Montserrat,"open sans",Helvetica,Arial,sans-serif !important;
	font-size: 12px !important;
	font-weight: 450 !important;
	line-height: 20px;
	font-style: italic;
	color:#969696;
}

.graf-rm{
	width:80px;
	min-height:30px;
	text-align:right;
	position:absolute;
	margin:-29px 186px auto;
}

.btn-rm{
	color:#fff;
	padding:11px 17px;
	background:#000;
}

.btn-rm:hover{
	color:#fff;
	background:#1B1B1B;
	text-decoration:none;
}

#pdak{
	padding-top:5px;
	padding-bottom:5px;
}

#gr{
	background:#00d587 !important;
	transition:all 0.4s ease-out;
}

#gr:hover{
	background:#0E8E59 !important;
}

#lg{
	background:#00caa3 !important;
	transition:all 0.4s ease-out;
}

#lg:hover{
	background:#029b7d !important;
}

.aksi-btn{
	margin:20px auto;
	min-height:20px;
	min-width:300px;
	text-align:center;
}

.d-btn{
	
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
}

.redd{

	padding:20px 50px;
	background:#d42411;
	text-transform:uppercase;
	font-size:13px;
	font-weight:600;
	color:#fff !important;
}

.redd:hover{
	background:#b41504;
	color:#fff !important;
}

.watsap{
	width:100%;
	height:50px;
}

.mrgn{
	margin:30px;
}

.cog th{
	text-align:center !important;
}

#portfolio{
	padding:10px 0px !important;
	border:none !important;
	margin-top:10px;
}

.user{
	max-width:1140px;
	overflow:hidden;
	background-color: #FDFDFD;
	border: 1px solid #cccccc;
	padding:10px;
	margin:auto;
}

.isi-ctn{
	background:#fff;
	overflow:hidden;
}

.judl{
	font-family:'Lato',arial,helvetica,sans-serif;
	text-align:center;
	font-size:1.2em;
	text-transform:uppercase;
	font-weight:700;
}

/* Owl Carousel Main */
#clientsay .item img{
    display: block;
}

#clientsay p {
	margin-top:20px;
	color: #fff;
	font-family:'Lato',arial,helvetica,sans-serif;
	text-align:center;
}

.circle{
	border-radius:100%;
	margin:auto;
	border:4px solid rgba(255, 255, 255, 0.16);
}

.cls{
	width:80%;
	margin:auto;
}

.client{
	background:#2e2f34;
	padding-top:40px;
	padding-bottom:40px;
	border-top:2px solid #565963;
	border-bottom:2px solid #565963;
}

