body{
	margin:0px;
	padding:0px;
}

/* menu navigasi kustomisasi */
.menu a{
	color:#fff !important;
	font-family:'Lato',arial,helvetica,sans-serif;
	font-weight:400;
	text-transform:uppercase;
}

.trans{
	background:transparent;
}

.hd-comp{
	border:none;
}

.bg-head{
	background:url('../img/bg.png');
	width:100%;
	overflow:hidden;
	background-attachment:fixed;
	background-size:cover;
}

.btn-jb{
	width:200px;
	background:#0393dd;
	color:#fff;
	padding:20px;
	font-family:'Open Sans',arial,helvetica,sans-serif;
	font-weight:600;
	text-transform:uppercase;
	font-size:0.4em;
	border-radius:0px;
	transition:all 0.3s ease-out;
}

.btn-jb:hover{
	width:200px;
	background:#2980b9;
	color:#fff;
	padding:20px;
	font-family:'Open Sans',arial,helvetica,sans-serif;
	font-weight:600;
	text-transform:uppercase;
	font-size:0.4em;
	border-radius:0px;
}

#red{
	background:#d50000;
	color:#fff;
	border-color:#d50000;
	font-family:'Open Sans',arial,helvetica,sans-serif;
	font-weight:600;
	text-transform:uppercase;
	transition:all 0.3s ease-out;
}

#red1{
	background:#a70101;
	color:#fff;
	border-color:#a70101;
	font-family:'Open Sans',arial,helvetica,sans-serif;
	font-weight:600;
	text-transform:uppercase;
	transition:all 0.3s ease-out;
}

#red:hover{
	background:#a70101;
	color:#fff;
	border-color:#a70101;
}

#red1:hover{
	background:#d50000;
	color:#fff;
	border-color:#d50000;
}

.btn-pos{
	margin:10px;
}

.jb-color{
	text-align:center;
	color:#fff;
}

.jb-color > h1
{
	font-size:2.5em;
	font-family:'Roboto Slab',arial,helvetica,sans-serif;
	margin-top:30px;
}

.jb-color > p
{
	font-size:30px;
	font-family:'Lato',arial,helvetica,sans-serif;
	font-weight:200;
	padding-top:20px;
}

/* header kedua  */

.sc-menu{
	width:100%;
	height:50px;
	box-shadow:1px 1px 4px #c0c0c0;
}